
body{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


}

header{
    color:rgb(136, 0, 0);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position:sticky;
    font-size: 50px;
    top:0;
    border-width: 1px 0px;
    margin: 0;

}
body{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    color:rgb(154, 0, 0);
}
#result{
    font-size: 15px;
    font-style: italic; 
}

button{
    color:rgb(222, 222, 222);
    background-color: rgb(103, 0, 0);
    transition-duration: 0.4s;
    border: 1px solid;
    padding: 8px 16px;
}
button:hover{
    color: white;
    background-color: black;
}

input[type="text"]{
    color:rgb(220, 220, 220);
    font-family: "neue-haas-grotesk-display", sans-serif;
    width:50%;
    font-style: italic;
}
#image-result{
    max-width: 100%;
    max-height: 30%;
}
footer{
    font-size: 10px;
    text-align: center;
    left:0;
    bottom:0;
    width:100%;
    color: white;
    
    position:fixed;
}